<style>
td { background-color:red; width:20rem; height: 20rem; }

</style>


<h1>Accessible Drag and Drop Using a Layout Grid</h1>

<table tabindex="0" aria-activedescendant="1" role="grid">
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    
 

     
</table>
