


<div #dragObj id="dragObject" tabindex="0" draggable="true" (dragstart)="drag($event)" (keydown)="
handleKeydownOnDragObject()">
  Drag me
</div>

<table role="grid">
  <tr>
    <td #cell1 id="cell1" role="gridcell" tabindex="-1" (keydown)="handleKeydownOnGridcells($event, 1)" (focus)="moveContentWithFocus(1)" aria-label="cell 1" (drop)="drop($event)" (dragover)="allowDrop($event)"></td>
    <td #cell2 id="cell2" role="gridcell" tabindex="-1" (keydown)="handleKeydownOnGridcells($event, 2)" (focus)="moveContentWithFocus(2)" aria-label="cell 2" (drop)="drop($event)" (dragover)="allowDrop($event)"></td>
    <td #cell3 id="cell3" role="gridcell" tabindex="-1" (keydown)="handleKeydownOnGridcells($event, 3)" (focus)="moveContentWithFocus(3)" aria-label="cell 3" (drop)="drop($event)" (dragover)="allowDrop($event)"></td>
    <td #cell4 id="cell4" role="gridcell" tabindex="-1" (keydown)="handleKeydownOnGridcells($event, 4)" (focus)="moveContentWithFocus(4)" aria-label="cell 4" (drop)="drop($event)" (dragover)="allowDrop($event)"></td>
  </tr>
  <tr>
    <td #cell5 id="cell5" role="gridcell" tabindex="-1" (keydown)="handleKeydownOnGridcells($event, 5)" (focus)="moveContentWithFocus(5)" aria-label="cell 5" (drop)="drop($event)" (dragover)="allowDrop($event)"></td>
    <td #cell6 id="cell6" role="gridcell" tabindex="-1" (keydown)="handleKeydownOnGridcells($event, 6)" (focus)="moveContentWithFocus(6)" aria-label="cell 6" (drop)="drop($event)" (dragover)="allowDrop($event)"></td>
    <td #cell7 id="cell7" role="gridcell" tabindex="-1" (keydown)="handleKeydownOnGridcells($event, 7)" (focus)="moveContentWithFocus(7)" aria-label="cell 7" (drop)="drop($event)" (dragover)="allowDrop($event)"></td>
    <td #cell8 id="cell8" role="gridcell" tabindex="-1" (keydown)="handleKeydownOnGridcells($event, 8)" (focus)="moveContentWithFocus(8)" aria-label="cell 8" (drop)="drop($event)" (dragover)="allowDrop($event)"></td>
  </tr>
</table>

